body {
  font-family: 'Lato', sans-serif;
}

header {
  background-image: url(VMnlaKl.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
}

header h1 {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
}

.wrapper {
  text-align: center;
}

#resetCanvas {
  width: 200px;
  background: #777;
  padding: 10px;
  margin-top: 20px;
  display: block;
}

#reset, #resetCanvas {
  margin: 20px auto;
}

.reveal {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  width: 200px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
}
.spoiler {
  background: #1d3c6a;
  width: 240px;
  border-radius: 5px;
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  margin: 20px auto;
}
.spoiler span {
  color: #dae1e4;
  font-size: 32px;
}

#reset {
  width: 200px;
  background-color: lightblue;
  height: 50px;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
  font-size: 20px;
}

.components {
  font-size: 24px;
}

#resetCanvas {
  font-size: 16px;
}


@media (min-width: 900px) {
  .col {
  float: left;
  width: 33%;
  height: 500px;
  }
  header {
    height: 300px;
    }
  header h1 {
    font-size: 36px;
    top: 10%;
    right: 15%;
  }
}

